
#container{
  max-width: 400px;
  margin: 5em auto;
  background-color: #f7f7f7;
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.3);
}

#container span{
  background-color: #e74c3c;
  text-align: center;
  color: white;
  width: 0;
  height: 100%;
  transition: 75ms linear;
  opacity: 0;
  float: right;
}
#container li:hover span{
  width: 2.5em;
  opacity: 1.0;
}

h1{
  background-color: #2980b9;
  color: white;
  margin: 0;
  padding: 0.625rem 1.5rem;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: normal;
}

.fa-plus{
  float: right;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;

  background: #00C9FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

li{
  height: 2.5em;
  line-height: 2.5em;
  color: #666;
  padding-left: 1.5rem;
  transition: background-color 250ms linear;
}
.hidden{
  display: none;
}

li:nth-child(2n + 1){
  background-color: white;
}

input{
  font-size: 1.125em;
  background-color: #f7f7f7;
  width: 100%;
  padding: 0.7em 0.7em 0.7em 1.4rem;
  box-sizing: border-box;
  color: #2980b9;
  border: 0.1rem solid #0000;
}

input:focus{
  background-color: white;
  border: 0.1rem solid #2980b9;
  outline: none;
}

.completed {
  color: rgba(128, 128, 128, 0.5);
  text-decoration: line-through;
}

/* span{
  float: right;
} */